* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* variable */
:root {
  --black-color: #000000;
  --white-color: #ffffff;
}
/* end variable */

/* Helper */
.dp-flex {
  display: flex;
}
.dp-block {
  display: block;
}
/* End Helper */
.containerx {
  max-width: 1340px;
  margin: 0 auto;
}
.detail_page {
  padding: 50px 0;
}
a {
  text-decoration: none;
}
.breadcrumb_list {
  margin-bottom: 60px;
}
.breadcrumb_list .home_navigation {
  color: #a6a6a6;
  font-size: 20;
  font-weight: 600;
}
.breadcrumb_list .home_navigation::after {
  content: "";
  border-right: 3px solid var(--black-color);
  padding-left: 5px;
}
.breadcrumb_list .name_product {
  font-weight: 600;
  color: var(--black-color);
  font-size: 20;
  padding-left: 5px;
}

.product-gallary__thumbs {
  max-width: 171px;
  margin-right: 26px;
}
.avatar__wrapper {
  margin-right: 77px;
}
.product-gallary__thumbs .product-gallery__thumb {
  margin-bottom: 17px;
}

.color__wrapper {
  margin-bottom: 35px;
}
.color__wrapper .section-title,
.size__wrapper .section-title {
  font-weight: bold;
  font-size: 18px;
}
.info__product {
  max-width: 500px;
}
.info__product .price {
  font-weight: bold;
  font-size: 20px;
  margin: 25px 0 45px 0;
}
.color__wrapper .code_color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--black-color);
}
.color__wrapper label {
  position: relative;
  margin-right: 10px;
}
.color__wrapper input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.color__wrapper .select__color {
  margin-top: 17px;
}
/* .color__wrapper .code_color {
    border: 2px solid rgba(7, 242, 34, 0.996);
} */
.select__size {
  margin-top: 17px;
}
.select__size .btn_size {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid var(--black-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-right: 12px;
}

.select__size input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.size__guide {
  margin: 35px 0;
}
.size__guide a {
  color: var(--black-color);
}
.size__guide img {
  margin-right: 10px;
}
.add_cart .btn_add {
  width: 500px;
  padding: 15px 0;
  border-radius: 10px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
}
.desc__wrapper {
  margin-top: 25px;
}
.desc__wrapper .section-title {
  font-size: 18px;
  border-bottom: 2px solid var(--black-color);
  display: inline-block;
}
.desc__wrapper .desc {
  font-size: 15;
  color: #999999;
  margin-top: 22px;
}
.product-related_wrapper {
  margin-top: 60px;
  border-bottom: 1px solid #cccccc;
}
.heading-title h2::before,
.comments_wrapper h2::before {
  content: "";
  border-left: 5px solid var(--black-color);
  margin-right: 25px;
}
.list-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px 0 48px 0;
  gap: 42px;
}
.list-products .item {
  max-width: 300px;
}
.product-info {
  text-align: center;
}

.product-info a {
  font-size: 17px;
  color: var(--black-color);
  font-weight: bold;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 20px 0 25px 0;
}
.product-info span {
  text-align: center;
  font-weight: bold;
  color: #b70000;
  font-size: 16px;
}
.comments_wrapper {
  margin-top: 65px;
}
.form_comment textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--black-color);
  margin-top: 22px;
}

.list-comments_wrapper {
  margin-top: 50px;
}
.list-comments_wrapper .user {
  justify-content: flex-start;
}
.info {
  margin-left: 10px;
}

.info .name {
  font-size: 20px;
}
.info .time-comment {
  font-size: 15px;
  color: #999999;
}
.list-comments_wrapper .content {
  margin-top: 15px;
}
.list-comments_wrapper .item {
  margin-top: 30px;
}
