.container {
  padding: 0 80px 0 100px;
  margin: 0 auto;
}
.breadcrumb {
  display: flex;
  padding: 20px 0;
}
.linkBreakcrumb {
  color: #a6a6a6;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.linkBreakcrumb:hover {
  text-decoration: underline;
}
.linkBreakcrumb::after {
  content: "";
  border-right: 2px solid #ccc;
  margin-left: 10px;
}

.breadcrumb span {
  margin-left: 10px;
  font-weight: 700;
}
.content {
  display: flex;
  margin-top: 50px;
  gap: 50px;
}

.category {
  width: 500px;
}
.boxCategory {
  margin-bottom: 50px;
}
.boxCategory h3 {
  margin-bottom: 15px;
  font-size: 17px;
  color: #000;
  font-weight: 700;
}
.boxCategory ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  color: #a6a6a6;
}

.filter {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
.rowProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.itemProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 20px;
}
.itemProduct .imgProduct {
  border-radius: 20px;
  overflow: hidden;
}
.itemProduct .imgProduct img {
  transition: all 0.3s linear;
}
.itemProduct:hover img {
  transform: scale(1.1);
}
.itemProduct h3 {
  font-size: 15px;
  font-weight: bold;
  transition: all 0.2s linear;
}
.itemProduct:hover h3 {
  color: #1890ff;
}
.itemProduct span {
  color: #b70000;
  font-weight: 700;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 30px;
}

.pagination .arrows {
  font-size: 25px;
  color: #999999;
  cursor: pointer;
  transition: all 0.3s linear;
}
.pagination .arrows:hover {
  color: #1890ff;
}
.pagination span {
  color: #999999;
  font-weight: bold;
  cursor: pointer;
}
.pagination span:hover {
  color: #000;
}
.pagination span.active {
  color: #000;
}
